<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form [formGroup]="loginForm" novalidate >
                
                <h1>Login</h1>
                <p>welcome back ! please login to your account </p>
                <input type="text" formControlName="email" [class.notvalid]="email?.invalid &&email?.touched" required name="email" placeholder="Email" />
                <div *ngIf="email?.invalid && email?.touched" >
                    <small class="error" *ngIf="email?.errors?.['pattern']">email is not valid.</small>
                    <small class="error" *ngIf="email?.errors?.['required']">email is required.</small>
                </div>
                <input type="password" placeholder="Password" />
                <a routerLink="/forgetpass" style="color:#FF4B2B ;">Forgot your password?</a>
                


               
                <p>Don't have Yamamah account? just create New one  <a style="color: #FF4B2B ;" routerLink="">Sign Up</a> </p>
                <input type="submit" class="sub"  value="submit">
                
            </form>
        </div>
    
        <div class="overlay-container">
            <div class="overlay">
                
                <div class="overlay-panel overlay-right">
                    <h1>Why Yamamah platform?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur eveniet quasi ullam unde aut cupiditate corporis asperiores vel consequatur tenetur et ex eaque delectus cum, sunt maiores fuga perspiciatis.</p>
                    
                </div>
            </div>
        </div>
    </div>
    
 

</body>
